<div class="row">
  <div class="col-sm-4 hvr-float-shadow separacion-top-3 manito"
       *ngFor="let juego of arregloJuegos; let i = index"
       (click)="irJuego(juego)">
    <div class="animated fadeInLeft"
         [style.animation-delay]="0.2 * i + 's'">
      <app-juego
        [mostrarAdmin]="mostrarAdmin"
        [juego]="juego"
        [nombreJuego]="juego?.nombreJuego"
        [estado]="juego?.estado"
        [totalParticipantes]="juego?.participantesJuego?.length"
        [pathImagen]="path"
      ></app-juego>
    </div>
  </div>
</div>
