

<div class="row justify-content-center with-margin">
  <div class="col-2"></div>
    <div class="col-10">
          <div class="row">
            <mat-card  class="cursor-initial animated fadeInUp animacion-larga">
                <mat-card-header>
                    <mat-card-title>
                      <h4 class="titulo ">BIENVENIDO </h4>
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p class="color-cyan">
                      InfoPeli es una aplicación web para gestionar información sobre productoras
                      películas y actores

                    </p>
                  </mat-card-content>
            </mat-card>              
          </div>
            
      </div>
  </div>
<div class="row with-margin" >
      <div class="col-sm-1"></div>
      <div class="col-sm-2 menu-opcion with-little-margin"
      [routerLink]="['/aplicacion', 'productora','listar']">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <p class="h3">Productora</p>
              </div>
              <div class="col-sm-12">
                <img class="img-fluid"
                     src="/assets/chair.png" alt="">
              </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2 menu-opcion"
      [routerLink]="['/aplicacion', 'pelicula','listar']">
        <div class="row">
            <div class="col-sm-12">
              <h3>Pelicula</h3>
            </div>
            <div class="col-sm-12">
              <img class="img-fluid hvr-outline-in" 
              src="/assets/film-reel.png" 
              alt="">
            </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2 menu-opcion"
      [routerLink]="['/aplicacion', 'usuario','listar']">
        <div class="row">
          <div class="col-sm-12">
            <h3>Usuarios</h3>
          </div>
          <div class="col-sm-12">
            <img class="img-fluid" 
            src="/assets/usuario.jpeg" alt="usuario" >
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
</div>         


