<!--<div *ngIf="mostrarFormularioNoticia" class="row">-->
<div class="col-sm-12">
  <h5 style="color: #b3c430;" >Crear un nueva noticia</h5>
  <h6>Ingresa los campos requeridos para crear una nueva noticia</h6>
  <form class="form-horizontal"
        [formGroup]="formularioNoticia"
        novalidate autocomplete="off">
    <fieldset>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Título</mat-label>
            <input matInput placeholder="Ej: Carreteras nuevas mejoran la movilidad " formControlName="titulo" required>
            <mat-error *ngIf="mensajesError.titulo.length > 0">
              <div *ngFor="let mensaje of mensajesError.titulo">{{mensaje}}</div>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field>
            <textarea matInput placeholder="Ingrese noticia" formControlName="descripcion"></textarea>
            <mat-error *ngIf="mensajesError.descripcion.length > 0">
              <div *ngFor="let mensaje of mensajesError.descripcion">{{mensaje}}</div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
  </form>
</div>


<div class="d-flex ">
  <div class="p-2">
    <button class="btn btn-success"
            [disabled]="">Guardar</button>
  </div>
  <div class="p-2">
    <button mat-button mat-dialog-close class="btn btn-outline-secondary">Cancelar</button>
  </div>
</div>
