<nav aria-label="breadcrumb" class="margen-top-migas">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/administrador','menu']">
        Menú Principal
      </a>
    </li>
    <li class="breadcrumb-item">
      <a
        [routerLink]="['/administrador','menu','configuraciones','menu-ajustes']">
        Menú configuraciones
      </a>
    </li>
    <li class="breadcrumb-item active"
        aria-current="page">
      Nivel Juego
    </li>
  </ol>
</nav>

<h3>
  Gestión de niveles de juego
</h3>
<p>Gestione los niveles del juego de la bolsa.</p>

<div class="row separacion-top-1 separacion-fondo-1">
  <div class="col-sm-6">
    <app-barra-busqueda
      [small]="ayudaBarraBusqueda"
      [placeholder]="placeholder"
      (eventoBuscar)="buscarBarra($event)">
    </app-barra-busqueda>
  </div>
  <div class="col-sm-3">
    <app-select-general
      *ngIf="opcionesHabilitado"
      [registros]="opcionesHabilitado"
      [opcionEtiqueta]="'etiqueta'"
      [placeholder]="'Filtre por estado'"
      (opcionSeleccionada)="buscarPorEstado($event)">
    </app-select-general>
  </div>
  <div class="col-md-3">
    <button
      class="btn btn-block btn-success"
      (click)="abrirModalCrearNivel()">
      <i class="fas fa-plus"></i>
      NUEVO
    </button>
  </div>
</div>

<div class="row separacion-top-2 separacion-fondo-1">
    <div class="col-sm-12">
      <p-table
        [responsive]="true"
        [columns]="columnas"
        [value]="niveles"
        [lazy]="true"
        (onLazyLoad)="cargarDatosLazy($event)"
        [paginator]="true"
        [rows]="rows"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [first]="skip"
        [resizableColumns]="true">
        <ng-template pTemplate="header"
                     let-columns>
          <tr>
            <th class="text-center"
                *ngFor="let col of columns"
                [style.width]="col.width">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage"
                     let-columns>
          <tr>
            <td [attr.colspan]="columnas.length">
              No existen registros
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="body"
                     let-rowData
                     let-rowIndex
                     let-columns="columns">
          <tr>
            <td class="text-center"
                *ngFor="let col of columns">
              <div *ngIf="col.field==='nombre'">
                {{rowData[col.field]}}
              </div>
              <div *ngIf="col.field === 'habilitado'">
                <button class="btn btn-block btn-success btn-sm"
                        (click)="actualizarEstado(rowData)"
                        [ngClass]="{
                  'btn-danger':rowData[col.field] === estados.Inactivo,
                  'btn-success':rowData[col.field] === estados.Activo
                  }">
                  {{rowData[col.field] === estados.Activo ? 'ACTIVO' : 'INACTIVO'}}
                </button>
              </div>
              <div *ngIf="col.header==='Acciones'">
                <button pButton
                        type="button"
                        class="btn btn-primary"
                        (click)="abrirModalEditarNivel(rowData)">
                  Editar
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
</div>
