<div class="row with-little-margin header">
    <div class="col-9">

        <button mat-stroked-button color="primary" class="fondo-blanco" 
        [routerLink]="['/aplicacion','inicio']">Inicio</button>
      
        <button mat-stroked-button class="color-blanco" 
        [routerLink]="['/aplicacion', 'productora','listar']" >
        Productora</button>
  
        <button mat-stroked-button  
        [routerLink]="['/aplicacion','pelicula','listar']">
        Pelicula</button>
 
        <button mat-stroked-button  
        [routerLink]="['/aplicacion','usuario','listar']">
        Usuario</button>

    </div>
    <div class="col-2 cursor-initial">
        <div class="b">
          {{usuarioLogeado.nick}} <br>
          {{usuarioLogeado.correo}} <br>
          {{usuarioLogeado.rol}} <br>
          {{usuarioLogeado.horaLogin}}
        </div>
    </div>
    <div class="col-1 mi-perfil" [routerLink]="['/aplicacion','usuario','editar', usuarioLogeado.id]">
      <div class="row">
        <div class="col-12">
          <img class="img-circle"
          width="40"
          height="40"
          [src]="usuarioLogeado.rutaImagen" alt="">
        </div >
      </div>
      <div class="row fadeInUp">
        <div class="col-12">
              <h6>
                Perfil
              </h6>
        </div>
      </div>
    </div>
    
</div>

<div class="contenido espacio">
  <router-outlet></router-outlet>
</div>


<div class="row justify-content-center footer espacio">
    <div class="col-2">
      <h6>Diseñado por Carlos Gutierrez</h6>
    </div>
    <div class="col-8"></div>
    <div class="col-2">
      <h6>MANTICORE-LABS-2018</h6>
    </div>
</div>