<div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="[ '/aplicacion', 'inicio' ]">Inicio</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="[ '/aplicacion', 'productora', 'listar' ]">Productora</a>
          </li>
        </ol>
      </nav>
    </div>
</div>
<div class="row justify-content-center with-margin">
  <div class="col-4">
    <h2 align="center"> Editar Productora</h2>
  </div>
</div>
<div class="row justify-content-center" *ngIf="!productora">
  <h3>Productora no encontrada</h3>
</div>
<div *ngIf="productora">
    <div class="row justify-content-center with-margin" 
    *ngIf="productora">
      <h6>Puede hacer cambios en esta pantalla de la productora {{productora.nombre.toUpperCase()}}</h6>
    </div>
  <div class="row justify-content-center">
    <div class="col-sm-3">
        <div class="row justify-content-center">
            <div class="col-12">
              <img [src]="productora.rutaImagen" alt="img productora"
              class="img-fluid with-little-margin">
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
            
                <button class="btn btn-outline-dark btn-block" 
                (click)="abrirDialogoArchivo()">
                  cambiar Foto
                </button>
            </div>
          </div>
    </div>
    <div class="col-sm-6">
      <app-productora-formulario 
      (formularioValido)="formularioEsValido($event)" 
      [productora]="productora"
        [puedeEditarFormulario]="true">
      </app-productora-formulario>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="row">
        <!-- <button class="btn btn-primary btn-block" 
        (click)="editar()" 
        [disabled]="botonEditarDisable">Editar
        </button> -->
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"
        rejectLabel="No" 
        acceptLabel="Si"
        width="425"></p-confirmDialog>

        <button type="text" (click)="confirm()" 
        class="btn btn-primary btn-block" 
        [disabled]="botonEditarDisable"
        pButton icon="pi pi-check" label="Editar"></button>
      </div>
      <br>
      <div class="row">
        <button class="btn btn-warning btn-block" 
        (click)="cancelar()">Cancelar
        </button>
      </div>
    </div>
  </div>
</div>