<div class="row">
  <div class="col-md-3" *ngFor="let tile of arregloAuspiciantes">
    <div
      class="text-center"
      [ngClass]="{
        'text-success': emisorGanoOPerdio(idsEmisoresGanan, tile.auspiciante),
        'text-danger': emisorGanoOPerdio(idsEmisoresPierden, tile.auspiciante)
      }"
    >
      {{
        (emisorGanoOPerdio(idsEmisoresPierden, tile.auspiciante)
          ? "&darr; $"
          : emisorGanoOPerdio(idsEmisoresGanan, tile.auspiciante)
          ? "&uarr; $"
          : "") + (emisorGanoOPerdio(idsEmisoresGanan, tile.auspiciante)
          ? emisorGanoOPerdio(idsEmisoresGanan, tile.auspiciante).valorAfecta :
          (emisorGanoOPerdio(idsEmisoresPierden, tile.auspiciante)
            ? emisorGanoOPerdio(idsEmisoresPierden, tile.auspiciante).valorAfecta : 0 ))
      }}
    </div>
    <div
      class="card radio-borde"
      [ngClass]="{
        'borde-error': emisorGanoOPerdio(idsEmisoresPierden, tile.auspiciante),
        'borde-success': emisorGanoOPerdio(idsEmisoresGanan, tile.auspiciante)
      }"
    >
      <div class="card-body">
        <div class="d-flex justify-content-center imagen-emisor">
          <img alt="" class="img-fluid" [src]="tile.auspiciante.pathLogo" />
        </div>
      </div>
    </div>
  </div>
</div>
