<div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="[ '/aplicacion', 'inicio' ]">Inicio</a>
          </li>
          <li class="breadcrumb-item">
              <a [routerLink]="[ '/aplicacion', 'usuario', 'listar' ]">Usuario</a>
          </li>
        </ol>
      </nav>
    </div>
</div>
<div class="row justify-content-center with-margin">
  <div class="col-8">
      <h2 align="center"> Detalles de Usuario</h2>
  </div>
</div>
<div class="row justify-content-center"
*ngIf="!usuario">
<h3>Usuario no encontrado</h3>
</div>
<div
*ngIf="usuario">
<div class="row justify-content-center with-margin"
>
<h6>NO puede hacer cambios en esta pantalla del usuario {{usuario.correo.toUpperCase()}}</h6>
</div>
<div class="row justify-content-center">
  <div class="col-sm-3">
      <div class="row justify-content-center">
          <div class="col-12">
            <img [src]="usuario.rutaImagen" alt="img usuario"
            class="img-fluid with-little-margin">
          </div>
      </div> 
  </div>
  <div class="col-sm-6"
  *ngIf="usuario">
    <app-usuario-formulario
      [usuario]="usuario"
      [soloVer]="true"
    ></app-usuario-formulario>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="row">
      <button
        class="btn btn-warning btn-block"
        (click)="cancelar()">Regresar
      </button>
    </div>
  </div>
</div>
</div>
