<div class="col-sm-12">

  <form class="form-horizontal"
        [formGroup]="formularioEmisor"
        novalidate autocomplete="off">
    <fieldset>
      <div class="row justify-content-center  separacion-fondo-2">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 justify-content-lg-center">
          <img
            *ngIf="urlLogoEmisor"
            [src]="urlLogoEmisor"
            style="max-width: 100%; height: auto; width: 90%;"
            class="img imgPlaceholder separacion-fondo-1">

          <input id="imagenEmisor"
                 class="inputfile "
                 name="imagenEmisor"
                 type="file"
                 placeholder="Seleccionar imagen de emisor"
                 accept=".jpg,.png,.jpeg"
                 (change)="seleccionoArchivo($event)"
          >
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-12 separacion-top-1">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input
              matInput placeholder="Ej: Nombre "
              formControlName="nombre"
              maxlength="50"
              required>
            <mat-error *ngIf="mensajesError.nombre.length > 0">
              <div *ngFor="let mensaje of mensajesError.nombre">{{mensaje}}</div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class = "col-sm-12">
          <mat-form-field >
            <mat-label>Descripción</mat-label>
            <textarea matInput placeholder="Ingrese Descripción"
                      formControlName="descripcion"
                      required
                      rows="4"
                      maxlength="100"
            ></textarea>
            <mat-error *ngIf="mensajesError.descripcion.length > 0">
              <div *ngFor="let mensaje of mensajesError.descripcion">{{mensaje}}</div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
  </form>
</div>
