<form class="example-form">
  <div class="row">
    <div class="col-sm-6 text-center">
      <mat-form-field>
        <mat-label>Compra</mat-label>
        <input [textMask]="mascaraNumeroEntero"
               matInput
               placeholder="Ej: 30"
               [(ngModel)]="cantidadCompra"
               (ngModelChange)="escuharCantidadComprar()"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </div>
    <div class="col-sm-6 text-center" *ngIf="!esRentaFija">
      <mat-form-field>
        <mat-label>Venta</mat-label>
        <input [textMask]="mascaraNumeroEntero"
               matInput
               placeholder="Ej: 30"
               [(ngModel)]="cantidadVende"
               (ngModelChange)="escuharCantidadVenta()"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </div>
  </div>
</form>

