<p-card>
  <div [class]="mostrarAdmin? 'row tamano-minimo-contenido-admin':'row tamano-minimo-contenido-jugador'">
    <div class="col-sm-12">
      <div class="row" (click)="irARuta(juego)">
        <div class="col-sm-6">
          <img alt="imagen de partida en curso"
               style="height: auto; width: 100%;"
               class="img-thumbnail" [src]=pathImagen>
        </div>
        <div class="col-sm-6">
          <p class="text-center color-blanco bold">
            {{nombreJuego}}
          </p>
          <p class="text-center color-blanco bold">
            Participantes {{totalParticipantes}}
          </p>
          <p class="text-center color-blanco bold"
             [ngStyle]="{'color':estado === 'CO' ? 'red': 'green'}"
          >{{estado === 'CO' ? 'Finalizado' : estado === 'I' ? 'Iniciando...' : estado === 'E' ? 'Esperando...' : 'En partida...'}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12"
         *ngIf="mostrarAdmin">

      <div class="contenedor-juego-detalles">
        <h6>Detalles</h6>
        <p>
          <span class="bold">
            Nombre sala:
          </span>
          {{juego.nombreSala}}
        </p>
        <p>
          <span class="bold">
            Password:
          </span>
          {{juego.passwordRonda}}
        </p>
        <p>
          <span class="bold">
            Numero de participantes:
          </span>
          {{juego.participantesJuego?.length}}
        </p>
        <p>
          <span class="bold">
            Numero de rondas:
          </span>
          {{juego.numeroRondas}}
        </p>
        <p>
          <span class="bold">
            Stock acciones:
          </span>
          {{juego.stockAcciones}}
        </p>
        <p>
          <span class="bold">
            Creado:
          </span>
          {{juego.createdAt | date:'dd-MM-yyyy HH:MM'}}
        </p>
        <br>
        <button [class]="juego.habilitado === 1? 'btn btn-block btn-sm btn-danger':'btn btn-block btn-sm btn-success'"
                *ngIf="estado === 'I' || estado === 'E'"
                (click)="cambiarHabilitado(juego, juego.habilitado)">
          {{juego.habilitado === 1 ? 'Deshabilitar' : 'Habilitar' }}
        </button>
      </div>
    </div>
  </div>
</p-card>
