<h3 class="text-primary" mat-dialog-title>
  <span class="bold">EMISORES</span>
</h3>
<div mat-dialog-content>
  <div class="row contenido-modal">
    <div class="col-md-12">
      <p class="descripcion-modal">{{descripcion}}</p>
    </div>
    <div class="col-md-12">
      <p-pickList [source]="arregloEmisores"
                  [target]="arregloEmisoresSeleccionados"
                  sourceHeader="Emisores"
                  targetHeader="Emisores seleccionados" [responsive]="true" filterBy="nombre"
                  dragdrop="true" sourceFilterPlaceholder="Buscar emisor por nombre"
                  targetFilterPlaceholder="Buscar emisor por nombre"
                  [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
        <ng-template let-car pTemplate="item">
          <div class="ui-helper-clearfix">
            <!--            <img src="assets/showcase/images/demo/car/{{car.brand}}.png"-->
            <!--                 style="display:inline-block;margin:2px 0 2px 2px" width="48">-->
            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{car.nombre}}</div>
          </div>
        </ng-template>
      </p-pickList>

    </div>
  </div>
</div>
<mat-dialog-actions class="separacion-top-2">
  <div class="d-flex flex-row-reverse">
    <div class="p-2">
      <button mat-button (click)="enviarEmisoresSeleccionados()" class="btn btn-primary"
              [disabled]="!(arregloEmisoresSeleccionados.length >= 4)">Aceptar
      </button>
    </div>
    <div class="p-2">
      <button mat-button mat-dialog-close class="btn btn-outline-secondary ">Cancelar</button>
    </div>
  </div>
</mat-dialog-actions>




