<!--   navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top   -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a
    class="navbar-brand"
    (click)="desactivarAuspiciantes()"
    [routerLink]="['inicio']"
  >
    <img
      src="assets/imagenes/logo-bolsa-de-valores.png"
      alt=""
      height="50"
      width="100"
    />

    <img
      src="assets/imagenes/logo-inicial-juego.png"
      alt=""
      height="50"
      width="100"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
        <div class="col-sm-6 ui-toolbar-group-left btn-block">
            <br>
            <button pButton style="width: 10%;" type="button"  label="Inicio"[routerLink]="['inicio']"><i class="fas fa-home"></i></button>
            <button pButton style="width: 10%;" type="button" label="Facturacién" class="ui-button-success" [routerLink]="['/administrador','menu','facturacion']"><i class="fas fa-dollar-sign"></i></button>
            <button pButton style="width: 10%;" type="button" label="Académico" class="ui-button-warning" [routerLink]="['/administrador','menu','academico']"><i class="fas fa-book"></i></button>
            <button pButton style="width: 10%;" type="button" label="Inventario" class="ui-button-danger" [routerLink]="['/administrador','menu','inventario']"><i class="fas fa-shopping-cart"></i></button>
            <button pButton style="width: 10%;" type="button" label="Configuración" class="ui-button-danger" [routerLink]="['/administrador','menu','configuraciones']"><i class="fas fa-user"></i></button>
        </div>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="salir()"
          ><i class="fas fa-sign-out-alt"></i> Salir</a
        >
      </li>
    </ul>
  </div>
</nav>


