<nav aria-label="breadcrumb" class="margen-top-migas">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/administrador','menu']">
        Menú administrador
      </a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/administrador','menu','facturacion','menu-factura']">
Menu Facturación
      </a>
    </li>
    <li class="breadcrumb-item active"
        aria-current="page">
      Crear Comprobante
    </li>
  </ol>
</nav>

<h3>Crear un nuevo Comprobante</h3>
<p>Selecciona los parametros para tu nuevo Comprobante.</p>

<div class="row">
  <div class="col-md-12">
    <app-formulario-comprobante
      (juegoValido)="formularioValido($event)"
      (juegoValido)="formularioValido($event)"
    >
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-3">
          <a [routerLink]="['/administrador','menu','facturacion','menu-factura', 'comprobante']">
            <button class="btn btn-outline-secondary btn-block"
                    type="button">
              Cancelar
            </button>
          </a>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary btn-block"
                  [routerLink]="['/administrador','menu','facturacion','menu-factura', 'comprobante']">
            Crear
          </button>
        </div>
      </div>
    </app-formulario-comprobante>
  </div>
</div>
