<div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="[ '/aplicacion', 'inicio' ]">Inicio</a>
              </li>
            </ol>
          </nav>
        </div>
</div>
<div class="row justify-content-center titulo">
    <h2> Pelicula</h2>
  </div>
  <hr>
  
  <div class="row justify-content-center ">
    <div class="col-8">
      <div class="row justify-content-center with-little-margin">
        <div class="col-8">
            <h4> Lista de Productoras</h4>
        </div>  

      </div>
    </div>
  </div>
  


<div class="row justify-content-center">
    <div class="col-12">
            <p-table [columns]="columnas" [value]="peliculas" [lazy]="true" (onLazyLoad)="loadData($event)" [paginator]="true" 
            [rows]="filas" [totalRecords]="totalPeliculas" [loading]="loading"
            [resizableColumns]="true">

            <ng-template pTemplate='emptymessage' let-columns>
                <tr>
                    <td [attr.colspan]="5">
                        <h3>No hay peliculas para mostrar :(</h3>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="caption">
                    <div style="text-align: left">   
                        <div class="row">
                            <div class="col-sm-3">
                                    <input type="text" pInputText 
                                    class="llenar-campo" 
                                    placeholder="Buscar por nombre o genero" 
                                    [(ngModel)]="palabraBuscada"
                                    id="palabraBuscada">
                            </div>
                            <div class="col-sm-1">
                                    <button class="btn btn-outline-info"
                                    (click)="buscar()">
                                        Buscar
                                    </button>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1">
                                <button class="btn btn-outline-success"
                                [routerLink]="['/aplicacion','pelicula','crear']">
                                Nuevo
                              </button>
                            </div>
                        </div>
                        
                    </div>
            </ng-template>

            <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" [style.width]="col.width">
                        <col [style.width]="widthEstado">
                        <col style.width="widthOpciones">
                    </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns >
                <tr>
                    <th pResizableColumn *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th pResizableColumn>Estado</th>
                    <th pResizableColumn>Detalles</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr
                [ngStyle]="{'background-color': rowData.id==resaltado? '#d7f1f6' : 'white' }">
                <td class="cursor-initial ui-resizable-column">
                    {{rowData.nombre}}
                </td>
                <td class="cursor-initial ui-resizable-column">
                    {{rowData.genero}}
                </td>
                <td class="cursor-initial ui-resizable-column">
                    <p-rating [cancel]="false" [ngModel]="rowData.rating" 
                    readonly="true" ></p-rating>
                </td>
                    <td class="ui-resizable-column">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                    <button class=" btn btn-sm btn-block"
                                    [ngClass]="{'btn-success': rowData.activo, 'btn-danger': !rowData.activo}"
                                    (click)="activarDesactivar(rowData.id)">
                                        {{ rowData.activo? "Activo": "Inactivo" }}
                                    </button>
                            </div>
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div class="row">
                        
                            <div class="col-4">
                                <button class="btn btn-sm btn-block btn-warning"
                                [routerLink]="['/aplicacion','pelicula','editar', rowData.id]" >
                                    Editar
                                </button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-sm btn-block btn-info"
                                [routerLink]="['/aplicacion','pelicula','detalle', rowData.id]" >
                                    Ver Detalles
                                </button>
                            </div>

                            <div class="col-4">
                                    <button class="btn btn-sm btn-block btn-secondary"
                                    [routerLink]="['/aplicacion','actor','listar', rowData.id]" >
                                        Lista Actores
                                    </button>
                                </div>
                        </div>
                        
                            

                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>