<div class="row cursor-initial resumido without-left-padding without-right-padding">
    <div class="col-4 without-right-padding without-left-padding">
        <div class="row justify-content-center separa-boton">
            <div class="col-12">
                    <img [src]="productora.rutaImagen" 
                    class="img-fluid minimun-heigh rounded mx-auto d-block" 
                    alt="imagen gravatar">
            </div>
        </div>
        <div class="row separa-boton">
                <div class="col-sm-6
                without-right-padding">
                        <button class="btn btn-warning 
                        btn-sm btn-block " 
                        [routerLink]="['/aplicacion', 'productora','editar',productora.id]">
                            Editar
                        </button>
                </div>
                <div class="col-sm-6
                without-left-padding">
                <button class="btn btn-info 
                btn-sm btn-block" 
                [routerLink]="['/aplicacion', 'productora','detalle',productora.id]">
                    Detalle
                </button>
                
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <button class="btn btn-sm  btn-block" 
                (click)="activarDesactivar(productora.id)"
                [ngClass]="{'btn-danger': !productora.activo, 'btn-success': productora.activo}">
                {{ productora.activo?"activo":"inactivo" }}
                </button>
            </div>
        </div>
    </div>
    <div class="col-8  without-right-padding">
        <div class="row">
            <div class="col-12">
                <h6>Productora</h6>
            </div>
            <div class="col-12">
                <table class="table table-sm table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Nombre</th>
                            <td>{{productora.nombre}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Propietario</th>
                            <td>{{productora.propietario}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Pais</th>
                            <td>{{productora.pais}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
