.without-left-padding{
    
    padding-left: 0.1em;
}

.without-right-padding{
    padding-right: 0.1em;
    
}

.resumido{
    border-color: darkgrey;
    border-width: .025rem;
    border-style: solid;
    padding: 0.5em;
}

.minimun-heigh{
    max-height: 100px;
}

.separa-boton{
    padding-bottom: 0.2em;
}
