<div class="row justify-content-center with-margin">
  <div class="col-4">
      <h1 align="center">InfoPeli</h1>
  </div>  
</div>
<div class="row justify-content-center with-margin">
  <div class="col-4">
      <img src="/assets/key.png" alt="llaves"
      class="rounded mx-auto d-block">
  </div>
  
</div>
<div class="row justify-content-center">
  <div class="col-4">
      <form
      autocomplete="off"
      spellcheck="false"
      [formGroup]="formulario">
        <input 
        class="form-control with-little-margin"
        formControlName="correo"
        type="text" 
        placeholder="Ingresar correo">
        <div class="alert alert-warning" 
        *ngIf="mensajesErrorCorreo.length > 0">
          <span class="help-block text-warning" *ngFor="let mensaje of mensajesErrorCorreo">
                    <p> {{mensaje}}</p>
          </span>
      </div>
      </form>
  </div>
</div>
<div class="row justify-content-center with-little-margin">
  <div class="col-4">
    <button class="btn btn-primary btn-block"
    [disabled]="!formulario.valid"
    (click)="resetPasword()">
    <i class="fas fa-redo-alt"></i>
      Resetear
    </button>
  </div>
</div>
<div class="row justify-content-center with-little-margin">
  <div class="col-4">
    <button class="btn btn-warning btn-block"
    [routerLink]="['/login']">
    <i class="fas fa-ban"></i>
      Cancelar
    </button>
  </div>
</div>