<nav aria-label="breadcrumb" class="margen-top-migas">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/administrador','menu']">
        Menú administrador
      </a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/administrador','menu','juegos','listar-juegos']">
        Lista juegos
      </a>
    </li>
    <li class="breadcrumb-item active"
        aria-current="page">
      Crear juego
    </li>
  </ol>
</nav>

<h3>Crear un nuevo juego</h3>
<p>Selecciona los parametros para tu nuevo juego.</p>

<div class="row">
  <div class="col-md-12">
    <app-juego-formulario
      (juegoValido)="formularioValido($event)"
      (juegoValido)="formularioValido($event)"
    >
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-3">
          <a [routerLink]="['/administrador','menu','juegos','listar-juegos']">
            <button class="btn btn-outline-secondary btn-block"
                    type="button">
              Cancelar
            </button>
          </a>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary btn-block"
                  (click)="crearJuego()"
                  [disabled]="!datosJuego">
            Crear
          </button>
        </div>
      </div>
    </app-juego-formulario>
  </div>
</div>
