<div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="[ '/aplicacion', 'inicio' ]">Inicio</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="[ '/aplicacion', 'pelicula', 'listar' ]">Pelicula</a>
          </li>
        </ol>
      </nav>
    </div>
</div>

<div class="row justify-content-center with-margin">
  <div class="col-4">
      <h2 align="center"> Detalle Pelicula</h2>
  </div>
</div>
<div class="row justify-content-center"
*ngIf="!pelicula">
<h3>Pelicula no encontrada</h3>
</div>
<div
*ngIf="pelicula">
<div class="row justify-content-center">
  <h6>NO puede hacer cambios en esta pantalla de la productora {{pelicula.nombre.toUpperCase()}}</h6>
</div>
<div class="row justify-content-center">
    <div class="col-sm-6">
      <app-pelicula-formulario
        [pelicula]="pelicula"
        [soloVerFormulario]="true"
        [productoraFija]="true"
      ></app-pelicula-formulario>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="row">
        <button
          class="btn btn-warning btn-block"
          (click)="cancelar()">Cancelar
        </button>
      </div>
    </div>
  </div>
</div>>