<div class="row  justify-content-center with-little-margin">
  <div class="col-4">
      <div style="text-align:center">
          <h1 class="animated tada">
            Iniciar Sesión
          </h1>
        </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-4">
    <div class="row justify-content-md-center">
      <img
      class="rounded mx-auto d-block with-margin"
      width="100"
      height="100"
      src="assets/usuario.jpeg"
      alt="usuario">
    </div>
    <div class="row justify-content-center ">
        <form
        autocomplete="off"
        spellcheck="false"
              [formGroup]="formularioLogin">
        <div align="center" >
        </div>
        <fieldset>
          <div class="form-group">
                  <input
                  id="correoId"
                  type="text"
                  class="form-control with-little-margin"
                  formControlName="correo"
                  placeholder="Ingresar correo">
                  <div class="alert alert-warning"
                  *ngIf="mensajesErrorCorreo.length > 0">
                      <span class="help-block text-warning" *ngFor="let mensaje of mensajesErrorCorreo">
                         <p> {{mensaje}}</p>
                      </span>
                </div>
          </div>

          <div class="form-group">
                <input type=password
                class="form-control with-little-margin"
                formControlName="password"
                placeholder="Ingresar password">
                <div
                class="alert alert-warning"
                *ngIf="mensajesErrorPassword.length > 0">
                    <span class="help-block text-warning" *ngFor="let mensaje of mensajesErrorPassword">
                       <p> {{mensaje}}</p>
                    </span>
              </div>
          </div>


          <div class="form-group with-margin">
            <button class="btn btn-primary btn-block"
            (click)="logear()">
            <i class="fas fa-sign-in-alt"></i>
              Ingresar
            </button>
          </div>
          <div
          class="row justify-content-center ">
          <a
            [routerLink]="[ '/reset-password' ]">
            Recuperar Contrasenia
          </a>
        </div>
      </fieldset>
        </form>
    </div>
  </div>
</div>
