<nav aria-label="breadcrumb" class="margen-top-migas">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/administrador','menu']">
        Menú Principal
      </a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/administrador', 'menu', 'juegos', 'listar-juegos']">
        Lista juegos
      </a>
    </li>
    <li class="breadcrumb-item active"
        aria-current="page">
      Juego seleccionado
    </li>
  </ol>
</nav>
<app-juego-administrador-jugador
  [esAdministrador]="true"
  [idJuego]="idJuego">
</app-juego-administrador-jugador>
