<div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="[ '/aplicacion', 'inicio' ]">Inicio</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="[ '/aplicacion', 'productora', 'listar' ]">Productora</a>
          </li>
        </ol>
      </nav>
    </div>
</div>
<div class="row justify-content-center with-margin titulo">
  <div class="col-4">
      <h2 align="center"> Crear Productora</h2>
  </div>
</div>
<div class="row justify-content-center">
  <h6>Llenar todos los campos para crear una nueva productora</h6>
</div>
<div class="row justify-content-center">
    <div class="col-sm-6">
      <app-productora-formulario
        (formularioValido)="formularioEsValido($event)"
      ></app-productora-formulario>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="row">
        <button
          class="btn btn-primary btn-block"
          (click)="crear()"
          [disabled]="crearDisable">Crear
        </button>
      </div>
      <br>
      <div class="row">
        <button
          class="btn btn-warning btn-block"
          (click)="cancelar()">Cancelar
        </button>
      </div>
    </div>
  </div>
  