<div class="row">
  <div class="col-sm-12">
    <h3 mat-dialog-title>
      <span class="bold">{{data.rentaFijaEmisor ? 'Editar' : 'Crear'}} papel de renta fija a emisor</span>
    </h3>
  </div>
</div>

<app-renta-fija-emisor-formulario
  (rentaFijaEmisorValida)="validarFormulario($event)"
  [rentaFijaEmisor]="data.rentaFijaEmisor"
>
  <div class="d-flex justify-content-end">
    <div class="p-2">
      <button mat-button
              mat-dialog-close
              class="btn btn-outline-secondary">
        Cancelar
      </button>
    </div>
    <div class="p-2">
      <button class="btn btn-primary"
              [disabled]="!formularioValido"
              (click)="metodoCrearEditar()">
        Guardar
      </button>
    </div>
  </div>
</app-renta-fija-emisor-formulario>

