<footer class="footer">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-center">
    <span class="text-muted">
      <img class="imagen-logo-manticore" src="assets/imagenes/logo-maticore-labs.png" height="40"
           width="80">
      <a href="https://www.manticore-labs.com">
          Desarrollado por:
        <span class="bold">Manticore Labs</span>. Derechos reservados.
      </a>
    </span>
    </div>
    <div class="col-sm-2"></div>
  </div>
</footer>
