<div class="row">
  <div class="col-sm-12">
    <h3 mat-dialog-title>
      <span class="bold">{{data.nivel ? 'Editar' : 'Crear'}} nivel </span>
    </h3>
  </div>
</div>

<div mat-dialog-content>
  <div class="row contenido-modal">
    <div class="col-md-12">
      <p class="descripcion-modal">{{descripcionNivel}}</p>
    </div>

    <div class="col-md-12">
      <app-nivel-formulario
        (nivelValido)="validarFormularioNivel($event)"
        [nivel]="nivelFormulario"
      >
      </app-nivel-formulario>
      <div class="col-md-12">
        <p class="descripcion-modal">{{descripcionConfiguraciones}}</p>
      </div>

      <div class="col-md-12">
        <app-rangos-valor-formulario
          (configuracionValido)="validarFormularioRangos($event)"
          [configuracion]="configuracionFormulario"
        >
        </app-rangos-valor-formulario>

      </div>
      <div class="espacio"></div>
    </div>
  </div>
</div>

  <mat-dialog-actions class="justify-content-end">
    <div class="d-flex flex-row-reverse">
      <div class="p-2">
        <button mat-button
                (click)="metodoCrearEditar()"
                class="btn btn-primary"
                [disabled]="!(formularioValidoNivel || formularioValidoConfiguracion)">
          Guardar
        </button>
      </div>
      <div class="p-2">
        <button mat-button mat-dialog-close
                class="btn btn-outline-secondary">Cancelar
        </button>
      </div>
    </div>
</mat-dialog-actions>
