<h1 class="text-center" style="margin-top: 5rem">Gracias a Nuestros Auspiciantes</h1>
<br>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h2>Esperando iniciar...</h2>
    <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
    <br>
    <p-galleria
      [panelHeight]="300"
      panelWidth="100%"
      [transitionInterval]="6500"
      [images]="auspiciantes"
      [showCaption]="false"
      [showFilmstrip]="false"
    ></p-galleria>
  </div>
  <div class="col-sm-2"></div>
</div>
<br>
<br>
