<div class="contenido">
  <div class="row separacion-top-1 separacion-fondo-1">
    <div class="col-sm-12 ">
      <h3>
       Historial de Jugadas Participante
      </h3>
      <h3 style="color: #0a1971">
        {{data.nombre}}
      </h3>
      <h3 style="color: #0a1971">
        Dinero Actual: {{dineroActual}}$
      </h3>
    </div>
  </div>
  <div class="row separacion-top-2 separacion-fondo-1">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <p-table
          [columns]="columnas"
          [value]="jugadasJugador"
          [lazy]="false"
          [paginator]="false"
          [resizableColumns]="true"
          [responsive]="true"
          [scrollable]="true" scrollHeight="50vh"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th class="text-center" *ngFor="let col of columns" >
                {{col.header}}
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-rowIndex let-columns="columns">

            <tr>
              <td class="text-center" *ngFor="let col of columns">
                <div *ngIf="col.field==='ronda'">
                  {{rowData.ronda.numeroRonda}}
                </div>
                <div *ngIf="col.field==='dineroEmpieza'">
                  {{rowData.participanteJuego.dineroEmpieza}}
                </div>
                <div *ngIf="col.field==='tipo'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col.field==='emisor'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col.field==='precio'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col.field==='cantidad'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col.field==='dineroActual'">
                  {{rowData.participanteJuego.dineroActual}}
                </div>
                <div *ngIf="col.field==='accionesParticipante'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col.field==='estado'">
                  {{rowData[col.field]}}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length +1">
                No existen jugadas
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <mat-dialog-actions class="justify-content-end">
        <div class="d-flex flex-row-reverse">
          <div class="p-2">
            <button
              type="button"
              mat-button
              mat-dialog-close
              class="btn btn-outline-secondary">
              SALIR</button>
          </div>
        </div>
      </mat-dialog-actions>
    </div>
  </div>
</div>
