<div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="[ '/aplicacion', 'inicio' ]">Inicio</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="[ '/aplicacion', 'pelicula', 'listar' ]">Pelicula</a>
          </li>
        </ol>
      </nav>
    </div>
</div>

<div class="row justify-content-center with-margin">
  <div class="col-4">
    <h2 align="center"> Crear Pelicula</h2>
  </div>
</div>

<div class="row justify-content-center">
  <h6>Llenar todos los campos para crear una nueva pelicula</h6>
</div>
<div class="row justify-content-center">

  <div class="col-sm-6">
    <app-pelicula-formulario (formularioValido)="formularioEsValido($event)"></app-pelicula-formulario>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="row">
      <button class="btn btn-primary btn-block" (click)="crear()" [disabled]="crearDisable">Crear
      </button>
    </div>
    <br>
    <div class="row">
      <button class="btn btn-warning btn-block" (click)="cancelar()">Cancelar
      </button>
    </div>
  </div>
</div>