<div class="row">
<div class="col-sm-12">

  <form  class="form-horizontal"
          [formGroup]="formularioRentaFija"
        novalidate autocomplete="off">
    <fieldset>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Tipo</mat-label>
            <input matInput placeholder="Ej: Obligaciones" formControlName="tipoValor" required>
            <mat-error *ngIf="mensajesError.tipoValor.length > 0">
              <div *ngFor="let mensaje of mensajesError.tipoValor">{{mensaje}}</div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
    <ng-content></ng-content>
  </form>
</div>
</div>
