<!--<div *ngIf="mostrarFormularioJuego" class="row">-->
<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal"
          [formGroup]="formularioJuego"
          novalidate autocomplete="off">
      <fieldset>
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Ej: Juego abril " formControlName="nombre" required>
              <mat-error *ngIf="mensajesError.nombre.length > 0">
                <div *ngFor="let mensaje of mensajesError.nombre">{{mensaje}}</div>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Dificultad</mat-label>
              <mat-select [(value)]="dificultadSeleccionado"
                          formControlName="dificultad" required>
                <mat-option value="{{nivel.id}}" *ngFor="let nivel of nivelDificultad"> {{nivel.nombre}}</mat-option>
              </mat-select>
              <mat-error *ngIf="mensajesError.dificultad.length > 0">
                <div *ngFor="let mensaje of mensajesError.dificultad">{{mensaje}}</div>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                matInput placeholder="Ingrese contraseña"
                formControlName="password" required>
              <mat-error *ngIf="mensajesError.password.length > 0">
                <div *ngFor="let mensaje of mensajesError.password">{{mensaje}}</div>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Numero de rondas (hasta 20)</mat-label>
              <input matInput placeholder="Ej: 13" type="number" formControlName="numeroDeRondas" required>
              <mat-error *ngIf="mensajesError.numeroDeRondas.length > 0">
                <div *ngFor="let mensaje of mensajesError.numeroDeRondas">{{mensaje}}</div>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Tiempo de ronda (s)</mat-label>
              <input matInput placeholder="Ej: 13"  type="number" formControlName="tiempoDeRonda" required>
              <mat-error *ngIf="mensajesError.tiempoDeRonda.length > 0">
                <div *ngFor="let mensaje of mensajesError.tiempoDeRonda">{{mensaje}}</div>
              </mat-error>
            </mat-form-field>
          </div>

          <!--        <div class="col-sm-4">-->
          <!--          <mat-form-field>-->
          <!--            <mat-label>Numero de acciones emisor (s)</mat-label>-->
          <!--            <input matInput placeholder="Ej: 20000" formControlName="numeroDeAcciones" required>-->
          <!--            <mat-error *ngIf="mensajesError.numeroDeAcciones.length > 0">-->
          <!--              <div *ngFor="let mensaje of mensajesError.numeroDeAcciones">{{mensaje}}</div>-->
          <!--            </mat-error>-->
          <!--          </mat-form-field>-->
          <!--        </div>-->
          <!--        <div class="col-sm-4">-->
          <!--          <mat-label>Seleccionar emisores</mat-label>-->
          <!--          <button class="btn btn-block btn-outline-secondary" (click)="abrirModalSeleccionarEmisores()">seleccionar-->
          <!--          </button>-->
          <!--        </div>-->
        </div>
      </fieldset>
      <ng-content></ng-content>
    </form>
  </div>
</div>
