<div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="[ '/aplicacion', 'inicio' ]">Inicio</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="[ '/aplicacion', 'usuario', 'listar' ]">Usuario</a>
          </li>
        </ol>
      </nav>
    </div>
</div>
<div class="row justify-content-center with-margin">
  <div class="col-2">

  </div>
  <div class="col-4">
    <h2> Editar Usuario</h2>
  </div>
</div>
<div class="row justify-content-center" *ngIf="!usuario">
  <h3>Usuario no encontrada</h3>
</div>
<div *ngIf="usuario">
    <div class="row justify-content-center with-margin" 
    *ngIf="usuario">
      <h6>Puede hacer cambios en esta pantalla del usuario {{usuario.correo.toUpperCase()}}</h6>
    </div>
  <div class="row justify-content-center">
    <div class="col-sm-3">
        <div class="row justify-content-center">
            <div class="col-12">
              <img [src]="usuario.rutaImagen" alt="img usuario"
              class="img-fluid with-little-margin">
            </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-12">
                  <button class="btn btn-outline-dark btn-block" (click)="abrirDialogoArchivo()">
                    cambiar Foto
                  </button>
              </div>
          </div>
    </div>
    <div class="col-sm-6">
      <app-usuario-formulario 
      (formularioValido)="formularioEsValido($event)" 
      [usuario]="usuario"
        [puedeEditarFormulario]="true">
      </app-usuario-formulario>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="row">
        <button class="btn btn-primary btn-block" 
        (click)="editar()" 
        [disabled]="botonEditarDisable">Editar
        </button>
      </div>
      <br>
      <div class="row">
        <button class="btn btn-warning btn-block" 
        (click)="cancelar()">Cancelar
        </button>
      </div>
    </div>
  </div>
</div>