<div class="card {{ noticiaEsPositiva }}">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <img
          *ngIf="esPositiva"
          src="assets/imagenes/icono-noticia-buena-mala/happy.svg"
          width="50px"
          height="50px"
          class="rounded mx-auto d-block"
          alt="Responsive image"
        />
        <img
          *ngIf="!esPositiva"
          src="assets/imagenes/icono-noticia-buena-mala/sad.png"
          width="50px"
          height="50px"
          class="rounded mx-auto d-block"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm-8">
        <h4 class="card-title  noticia">
          {{ titulo }}
        </h4>
      </div>
      <div class="col-sm-2">
        <img
          src="assets/imagenes/icono-periodico/periodico.png"
          class="rounded mx-auto d-block"
          alt="Responsive image"
        />
      </div>
    </div>
    <p class="card-text text-center">
      {{ descripcion }}
    </p>
  </div>
</div>
