<nav aria-label="breadcrumb" class="margen-top-migas">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/administrador','menu']">
        Menú Principal
      </a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/administrador','menu','configuraciones','menu-ajustes']">
        Menú configuraciones
      </a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/administrador','menu','configuraciones','menu-ajustes', 'emisores']"
         [queryParams]="{skip:0, where: '%7B%7D'}">
        Emisores
      </a>
    </li>
    <li class="breadcrumb-item active"
        aria-current="page">
      Noticias por emisor
    </li>
  </ol>
</nav>

<h2>Noticias de {{nombreEmisor}}</h2>
<p>Cree, edite y liste noticias de {{nombreEmisor}}</p>

<div class="row">
  <div class="col-lg-9">
    <form class="form-inline" novalidate>
      <div class="col-sm-12">
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-describedby="busquedaEmpresaHelp"
                 placeholder="Ingrese su búsqueda....." #busqueda>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="btn" id="button-addon2"
                    (click)="buscarPorTitulo(busqueda.value)"><i class="fas fa-search"></i> BUSCAR
            </button>
          </div>
        </div>
        <small id="busquedaRolHelp" class="form-text text-muted ayuda-span"> Busque una noticia por título (La búsqueda no se combina con los filtros).
        </small>
      </div>
    </form>
  </div>

  <div class="col-lg-3">
    <button
      class="btn btn-block btn-success"
      (click)="abrirModalAsignarNoticias()"
    ><i
      class="fas fa-plus">
    </i> ASIGNAR
    </button>
  </div>

</div>


<div class="col-sm-12 separacion-top-2 ">
  <div class="row justify-content-center">
    <div class="col-lg-1"></div>
    <div class="row">
      <div class="col-lg-5">
        <app-select-general *ngIf="nivelesJuego"
                            [registros]="nivelesJuego"
                            [opcionEtiqueta]="'nombre'"
                            [placeholder]="'Filtre por nivel de juego'"
                            (opcionSeleccionada)="buscarPorNivel($event)"
        ></app-select-general>
      </div>
      <div class="col-lg-5">
        <app-select-general *ngIf="opcionesEspositiva"
                            [registros]="opcionesEspositiva"
                            [opcionEtiqueta]="'etiqueta'"
                            [placeholder]="'Filtre por acción'"
                            (opcionSeleccionada)="buscarPorEsPositiva($event)"
        ></app-select-general>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
<br>
<div class="row separacion-top-2 separacion-fondo-1">
  <div class="col-sm-12">
    <div class="col-sm-12">
      <p-table
        [columns]="columnas"
        [value]="noticiasEmisor"
        [lazy]="true"
        (onLazyLoad)="cargarDatosLazy($event)"
        [paginator]="true"
        [rows]="rows"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [first]="this.queryParams.skip"
        [resizableColumns]="true"
        [responsive]="true"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="text-center" *ngFor="let col of columns" [style.width]="col.width">
              {{col.header}}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-rowIndex let-columns="columns">

          <tr>
            <td class="text-center" *ngFor="let col of columns">
              <div *ngIf="col.field==='titulo'">
                {{rowData.noticia.titulo}}
              </div>
              <div *ngIf="col.field==='descripcion'">
                {{rowData.noticia.descripcion}}
              </div>
              <div *ngIf="col.field==='tipo'">
                {{rowData.noticia?.tipo?.nombre}}
              </div>
              <div *ngIf="col.field==='nivelJuego'">
                {{rowData.noticia?.nivelJuego?.nombre}}
              </div>
              <div *ngIf="col.header === 'Acción'">
                <button class="btn btn-block btn-success btn-sm" (click)="actualizarEstado(rowData)" [ngClass]="{
                      'btn-danger':rowData[col.field] === estados.Negativa,
                      'btn-success':rowData[col.field] === estados.Positiva
                      }"
                [disabled]="rowData.noticia?.tipo?.id === tiposNoticia.CONTRASPLIT || rowData.noticia?.tipo?.id === tiposNoticia.SPLIT">{{rowData[col.field] === estados.Positiva ? 'Positiva' : 'Negativa'}}</button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length +1">
              No existen registros
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
